function_test
__pycache__
dist/p_terraformer-0.1-py3.9.egg
dist/p_terraformer-0.1-py3.10.egg
dist/p_terraformer-0.1.tar.gz
build
p_terraformer.egg-info
main.tf
test
test1
temp_profile.yaml
.terraform
*-*-*-*-*
